
<br>
<br>
<h2>Please make steps and submit them before you submit the project</h2>


<div class="step-number-picker">

</div>
<br>
<form action="/submit_steps" method="post" class="step-form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div class="step-field">
    Step #1:<br><textarea class="input-step" name=1></textarea>
  </div>
  <div class="step-field">
    <input type="submit" class="submit-step">
  </div>
</form>

<script type="text/javascript">
  $('.step-form').submit(function(e) {
    e.preventDefault()
    console.log($('.input-step'))
    for(var i=0; i<dropdownSelect.val(); i++) {
      console.log($('.input-step')[i].value)
      $.ajax({
        
      })
    }
  })

// $.ajax({
//   url: '/submit_steps',
//   method: 'post',
//   data: {

//   }
// })

  var dropdownSelect = $("<select class='step-select'></select>")
  for(var i=0; i<10; i++) {
    dropdownSelect.append(("<option value="+(i+1)+">"+(i+1)+"</option>"))
  }
  
  $('.step-number-picker').append(dropdownSelect)

  dropdownSelect.on('change', function(e) {
    $('.step-field').remove()

    console.log(dropdownSelect.val())
    var numberOfSteps = $(".step-select").val()
    for(var j=0; j<numberOfSteps; j++) {
      var newDescription = ("<div class='step-field'>Step #"+(j+1)+":<br><textarea name="+(j+1)+" class='input-step'></textarea></div>")
      $(".step-form").append(newDescription)
    }
    $(".step-form").append("<div class='step-field'><input type='submit'></div>")
  })

</script>
<br>
<br>
<br>
<%= form_for(@project) do |f| %>
	
	<div class="projectfield">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="projectfield">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="projectfield">
    <%= f.label :est_time %><br>
    <%= f.text_field :est_time %>
  </div>

  <div class="projectfield">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
