<br>
<br>
<br>
<%= form_for(@project, multipart: true) do |f| %>
	
	<div class="projectfield">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="projectfield">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="projectfield">
    <%= f.label :est_time %><br>
    <%= f.text_field :est_time %>
  </div>

  <div class="projectfield">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>

  <div class="field">
    <%= f.label :project_pic %>
    <%= f.file_field :project_pic %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
