<div class="contianer" id="contain"><br>
	<br>
	<div class="col-lg-3 col-md-3">Toolbox
	</div>
	<div class="main-display col-lg-9 col-md-6">
		<h2><%= @project.name %></h2>
		<p class="author">By: <span class="underline"><%= @project.user.first_name %> <%= @project.user.last_name %></span></p>
		<div class="stars">
			Star
		</div>
		<div class="time-money">
			<span class="time">C <%= @project.est_time %></span>  &nbsp;<span class="money"><%= @project.cost %> usd</span>
		</div>
		<div class="project-image">
			<img src="/cat.jpeg">
		</div>
		<div class="project-description">
			<p><%= @project.description %></p>
		</div>

		<div class="project-step-list">
			<% if !@steps.empty? %>
				<ul class="project-steps">
				<% @steps.each do |step| %>
					<li class="project-step">Step <%= step.rank %> : <%= step.description %></li>
				<% end %>
				</ul>
			<% else %>
				<h3><%= link_to 'Create some steps', new_step_path %></h3>
			<% end %>
		</div>
	</div>
</div>