<!DOCTYPE html>
<html>
<head>
  <title>GetItDone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navv">
	<div class="sign-in">
		<% if current_user %>
		  <%= current_user.first_name %> <%= current_user.last_name %>
		  
		  <br> 
		  
		  <span class="logout"><%= link_to "Sign out", '/logout' %></span>
			
			<br>
		  
		  <span class="feature">Bookmark</span>  <span class="feature">Cart  4</span>
		<% else %>
		  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/users/new' %>
		<% end %>
	</div>
</nav>
	<div class="cat-bar">
		<ul>
			<li class="cat-nav">Workshop</li>
			<li class="cat-nav">Crafts</li>
			<li class="cat-nav">Repair</li>
			<li class="cat-nav lack-right-margin">Search <input type="text"></li>
		</ul>
	</div>
<%= yield %>

</body>
</html>
